.clear{
    padding: 5px;
    margin: 5px;
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 8px;
    box-shadow: 1.0px 1.9px 1.9px hsl(0deg 0% 0% / 0.47);
}
.stop-webcam-btn {
    padding: 8px;
    margin: 6px;
    background-color:red;
    color: white;
    border-color: red;
    border-radius: 8px;
}
.start-webcam-btn {
    padding: 8px;
    margin: 6px;
    background-color:blue;
    color: white;
    border-color: blue;
    border-radius: 8px;
}
.capture-photo{
    padding: 5px;
    margin: 5px;
    background-color:blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
}
.video-frame{
    border: 2px solid red;
    border-radius: 4px;
}
img{
    border-radius: 70px;
    border: 4px solid purple;
}